
html,
body {
	font-family: Arial, Helvetica, sans-serif;
}
button{
	margin-bottom: 1px;
	width: 200px;
	border: 1px solid grey;
	font-size: 10px;
	box-sizing: border-box;
	padding-left: 2px;
}
div {
	font-size: 10px;
}
table {
	float: left;
	border: 1px solid grey;
	border-collapse: collapse;
	font-size: 9px;
	width: 800px;
	margin-bottom: 10px;
}
td {
	border: 1px solid grey;
}
img {
	width: 100%;
	height: 100%;
}
#nav-bar {
	margin-left: 799px;
	padding-left: 5px;
	border-left: 1px solid grey;
	position: fixed;
	width: 100px; //remove?
}
#table-box {
	float: left;
}
#drop {
	padding-top: 80px;
	vertical-align: middle;
	width: inherit;
	height: 100px;
	text-align: center;
	z-index: 10;
}
#drop:hover {
	background-color: #ddd;
}

.filter {
	margin-bottom: 1px;
	width: 200px;
	border: 1px solid grey;
	font-size: 10px;
	box-sizing: border-box;
	padding-left: 1px;
}
.chk-box {
	height: 13px;
	float: left;
	padding-right: 10px;
}
.chk-toggle {
	height: 10px;
	float: left;
	margin: 2px;
}
.chk-txt {
	margin-top: 1px;
	float: left;

}
.btn-toggle {
	float: left;
	margin-right: 4px;
}
.loading {
	width: 15px;
	height: 15px;
	float: left;
}
.btn-box {
	width: 230px;
	overflow: hidden;
}
.input-title {
	display: inline-block;
}
.bold {
	font-weight: bold;
}
.hidden {
	visibility: hidden;
}
.bounded {
	border: 1px solid black;
}
