
html,
body {
	font-family: Arial, Helvetica, sans-serif;
}
div {
	font-size: 10px;
}
table {
	//float: left;
	border-collapse: collapse;
	font-size: 9px;
	width: 800px;
	table-layout: fixed;
}
td {
	border: 1px solid grey;
	width: 150px;
}
td+td {
	width: auto;
	text-align: right;
	padding-right: 2px;
}
td:hover {
	background-color: yellow;
}
img {
	width: 100%;
	height: 100%;
}
tr:hover {
	background-color: #ffffcc;
}
#table-box {
	float: left;
	border-right: 1px dotted grey;
	min-width: 1051px;
}
#log {
	margin-left: 1060px;
	position: fixed;
}
.table-container {
	clear: both;
	overflow: hidden;
	margin-bottom: 10px;
	border-top: 1px dotted grey;
	width: 1000px;
}
.flight-box {
	padding-bottom: 10px;
}
.flight-table-box {
	width: 950px !important;
}
.passenger-timing-table {
	margin-top: -1px;
}
.expand {
	width: 10px;
	height: 10px;
	margin-left: -20px;
	position: relative;
	top: -10px;
	clear: both;
	overflow: hidden;
}
.expand:hover {
	background-color: yellow;
}
.bold {
	font-weight: bold;
}
.hidden {
	visibility: hidden;
}
.collapsed  {
	display: none;
}
.outlined-left {
	border-left : 1px solid grey;
}
.sel {
	background-color: yellow;
}
.pad {
	padding-left: 50px;
}
